<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">List of Data Outputs</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">List of Data Outputs</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">     
  <div class="row">
    <div class="col-md-9">

      <div class="headline"><h3>Log Management</h3></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['ElasticSearch + Kibana', 'elasticsearch.png', 'http://docs.fluentd.org/how-to-guides/free-alternative-to-splunk-by-fluentd'],
               ['Splunk', 'splunk.jpg', 'http://docs.fluentd.org/v/0.12/output/splunk'],
               ['Sumo Logic', 'sumo-logic.png', 'https://github.com/SumoLogic/fluentd-output-sumologic'],
               [],
               [],
               [],
               [],
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="<%= e.size > 3 ? e[3] : 50 %>px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>
      <br/>

      <div class="headline"><h3>Big Data</h3></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['Hadoop DFS', 'hadoop.jpg', 'http://docs.fluentd.org/output/webhdfs'],
               ['Treasure Data', 'treasuredata.png', 'http://docs.fluentd.org/how-to-guides/http-to-td', 60],
               ['MongoDB', 'mongodb.png', 'http://docs.fluentd.org/how-to-guides/apache-to-mongodb'],
               [],
               [],
               [],
               [],
               [],
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="<%= e.size > 3 ? e[3] : 50 %>px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>
      <br/>

      <div class="headline"><h3>Data Archiving</h3></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['File', 'file.jpg', 'http://docs.fluentd.org/output/file'],
               ['AWS S3', 's3.png', 'http://docs.fluentd.org/output/s3'],
               [],
               [],
               [],
               [],
               [],
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="<%= e.size > 3 ? e[3] : 50 %>px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>
      <br/>

      <div class="headline"><h3>PubSub / Queue</h3></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['AWS Kinesis', 'kinesis.png', 'https://docs.fluentd.org/v/0.12/articles/kinesis-stream'],
               ['Kafka', 'kafka.png', 'https://docs.fluentd.org/v/0.12/output/kafka'],
               ['AMQP', 'amqp.png', 'https://github.com/restorando/fluent-plugin-amqp'],
               ['RabbitMQ', 'rabbitmq.png', 'https://github.com/restorando/fluent-plugin-amqp'],
               [],
               [],
               [],
               [],
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="<%= e.size > 3 ? e[3] : 50 %>px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>
      <br/>

      <div class="headline"><h3>Data Warehouse</h3></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['BigQuery', 'bigquery.png', 'https://cloud.google.com/solutions/real-time/fluentd-bigquery'],
               ['MySQL', 'mysql.png', 'https://github.com/fluent/fluent-plugin-sql'],
               ['PostgreSQL', 'postgresql.png', 'https://github.com/fluent/fluent-plugin-sql'],
               ['SQL Server', 'sqlserver.jpg', 'https://github.com/u89012/fluent-plugin-mssql2'],
               ['Vertica', 'vertica.jpg', 'http://tyro89.github.io/fluent-plugin-vertica/'],
               ['AWS RedShift', 'redshift.png', 'https://github.com/hapyrus/fluent-plugin-redshift'],
               [],
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="<%= e.size > 3 ? e[3] : 50 %>px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>
      <br/>

      <div class="headline"><h3>Monitoring Systems</h3></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['Datadog', 'datadog.png', 'https://github.com/winebarrel/fluent-plugin-dd'],
               ['Librato', 'librato.png', 'http://blog.librato.com/posts/docker-container-data-with-fluentd'],
               ['Ganglia', 'ganglia.jpg', 'https://github.com/ziguzagu/fluent-plugin-ganglia'],
               ['Graphite', 'graphite.gif', 'https://github.com/studio3104/fluent-plugin-graphite'],
               ['GrowthForecast', 'growthforecast.png', 'https://github.com/tagomoris/fluent-plugin-growthforecast'],
               ['Statsd', 'statsd.png', 'https://github.com/fakechris/fluent-plugin-statsd'],
               ['Zabbix', 'zabbix.png', 'https://github.com/fujiwara/fluent-plugin-zabbix'],
               ['Mackerel', 'mackerel.png', 'https://github.com/mackerelio/fluent-plugin-mackerel'],
               ['Riemann', 'riemann.png', 'https://github.com/wkf/fluent-plugin-riemann'],
               ['Sentry', 'getsentry.png', 'https://github.com/y-ken/fluent-plugin-sentry'],
               ['New Relic', 'new-relic.png', 'https://github.com/newrelic/newrelic-fluentd-output'],
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="<%= e.size > 3 ? e[3] : 50 %>px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>
      <br/>

      <div class="headline"><h3>Middleware</h3></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['Norikra', 'norikra.png', 'http://docs.fluentd.org/how-to-guides/cep-norikra'],
               ['CouchDB', 'couchdb.png', 'https://github.com/ixixi/fluent-plugin-couch'],
               ['Couchbase', 'couchbase.png', 'https://github.com/obieq/fluent-plugin-couchbase'],
               ['Riak', 'riak.png', 'http://basho.com/fluentd-loves-riak/'],
               ['HBase', 'hbase.png', 'https://github.com/Furyu/fluent-plugin-hbase'],
               ['OpenTSDB', 'opentsdb.png', 'https://github.com/emurphy/fluent-plugin-opentsdb'],
               ['ZeroMQ', 'zeromq.png', 'https://github.com/ogibayashi/fluent-plugin-zmq-pub'],
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="<%= e.size > 3 ? e[3] : 50 %>px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>
      <br/>

      <div class="headline"><h3>Notification Systems</h3></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['Email', 'email.png', 'https://github.com/u-ichi/fluent-plugin-mail'],
               ['Slack', 'slack.png', 'https://github.com/sowawa/fluent-plugin-slack'],
               ['HipChat', 'hipchat.png', 'https://github.com/hotchpotch/fluent-plugin-hipchat'],
               ['IRC', 'irc.png', 'https://github.com/choplin/fluent-plugin-irc'],
               ['Twilio', 'twilio.png', 'https://github.com/y-ken/fluent-plugin-twilio'],
               ['AWS SNS', 'sns.png', 'https://github.com/ixixi/fluent-plugin-sns'],
               [],
               [],
               [],
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="<%= e.size > 3 ? e[3] : 50 %>px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>
      <br/>

      <div class="row margin-bottom-40">
        <center>
          <a class="btn btn-primary hover-effect" style="font-size: 20px;" href="/plugins/all">Check List of All Plugins</a>
        </center>
      </div>

    </div><!--/col-md-9-->

    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div><!--/col-md-3-->
  </div><!--/row-->        

</div><!--/container-->     
<!--=== End Content Part ===-->
