<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">List of Data Sources</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">List of Data Sources</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">     
  <div class="row">
    <div class="col-md-9">
      <div><h4>Application Logs</h4></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['Java', 'java.jpg', 'https://docs.fluentd.org/language-bindings/java'],
               ['Ruby', 'ruby.png', 'https://docs.fluentd.org/language-bindings/ruby'],
               ['Ruby on Rails', 'rails.png', '/datasources/rails'],
               ['Python', 'python.png', 'https://docs.fluentd.org/language-bindings/python'],
               ['PHP', 'php.png', 'https://docs.fluentd.org/language-bindings/php'],
               ['Perl', 'perl.png', 'https://docs.fluentd.org/language-bindings/perl'],
               ['Node.js', 'nodejs.png', 'https://docs.fluentd.org/language-bindings/nodejs'],
               ['Scala', 'scala.png', 'https://docs.fluentd.org/language-bindings/scala'],
               ['.NET', 'dotnet.png', 'https://github.com/fluent/NLog.Targets.Fluentd'],
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="50px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>

      <div><h4>Network Protocols</h4></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['Syslog', 'syslog.jpg', 'https://docs.fluentd.org/input/syslog'],
               ['HTTP', 'http.png', 'https://docs.fluentd.org/input/http'],
               ['TCP', 'tcp.gif', 'https://docs.fluentd.org/input/forward'],
               ['UDP', 'udp.jpg', 'https://docs.fluentd.org/input/in_udp'],
               ['Unix Domain Socket', 'unix.gif', 'https://docs.fluentd.org/v/0.12/input/unix'],
               ['SNMP', 'snmp.png', 'https://github.com/iij/fluent-plugin-snmp'],
               ['MQTT', 'mqtt.png', 'https://github.com/yuuna/fluent-plugin-mqtt'],
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>" target="_blank">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="50px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>

      <div><h4>IoT Devices</h4></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['RasperryPi', 'raspi.png', 'https://docs.fluentd.org/how-to-guides/raspberrypi-cloud-data-logger'],
               [],
               [],
               [],
               [],
               [],
               [],
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>" target="_blank">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="50px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>

      <div><h4>Others</h4></div>
      <div class="clearfix">
        <table style="width:100%;">
          <%
             [
               ['Docker', 'docker.png', '/guides/recipes/docker-logging'],
               ['Twitter', 'twitter.png', '/datasources/twitter'],
               ['MySQL Slow Query Log', 'mysql.png', '/datasources/mysqlslowquerylog'],
               ['PostgreSQL Slow Query Log', 'postgresql.png', 'https://github.com/choplin/fluent-plugin-postgresql'],
               ['Gluster FS', 'gluster.jpg', '/datasources/glusterfs-log'],
               ['Kafka', 'kafka.png', 'https://github.com/fluent/fluent-plugin-kafka'],
               ['Kestrel', 'kestrel.png', '/datasources/kestrel'],
               ['Munin', 'munin.png', 'https://github.com/y-ken/fluent-plugin-munin'],
               ['DStat', 'dstat.png', '/datasources/dstat'],
               ['Windows Event Log', 'windows.jpg', 'https://docs.fluentd.org/input/windows_eventlog'],
               ['Netflow', 'netflow.gif', 'https://github.com/repeatedly/fluent-plugin-netflow'],
               ['Postfix', 'postfix.gif', 'https://docs.fluentd.org'],
               ['AWS Cloud Watch', 'cloudwatch.png', 'https://github.com/yunomu/fluent-plugin-cloudwatch'],
               ['AWS ELB Log', 'elb.png', 'https://github.com/shinsaka/fluent-plugin-elb-log'],
               ['AWS SQS', 'sqs.png', 'https://github.com/ixixi/fluent-plugin-sqs'],
               ['OpenTelemetry', 'opentelemetry.svg', 'https://github.com/fluent-plugins-nursery/fluent-plugin-opentelemetry']
             ].each_slice(7) do |a|
          %>
          <tr>
            <% a.each { |e| %>
            <td style="text-align:center;width:14%;">
              <% unless e.empty? %>
              <a href="<%= e[2] %>" target="_blank">
                <img alt="<%= e[0] %>" src="/images/datasources/<%= e[1] %>" height="50px" style="margin:5px;"/>
                <h5><%= e[0] %></h5>
              </a>
              <% end %>
            </td>
            <% } %>
          </tr>
          <% end %>
        </table>
      </div>
      <br/>
      <br/>
      <div class="row margin-bottom-40">
        <center>
          <a class="btn btn-primary hover-effect" style="font-size: 20px;" href="/plugins/all">Check List of All Plugins</a>
        </center>
      </div>
    </div><!--/col-md-9-->
    <br/>

    <div class="col-md-3">
      <%= erb(:_right_menu, :layout => false) %>
    </div><!--/col-md-3-->
  </div><!--/row-->        

</div><!--/container-->     
<!--=== End Content Part ===-->
