<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Download Fluentd</h1>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row portfolio-item margin-bottom-20">
    <!-- Content Info -->
    <!--
    <div class="col-md-12 md-margin-bottom-20">
    </div>
    -->
  </div><!--/row-->

  <div class="row margin-bottom-20">
    <div class="col-md-9">
      <h3>Fluentd (v1.0, current stable)</h3>
      <div>Fluentd v1.0 is available on Linux, Mac OSX and Windows. Also, Treasure Data packages it as Treasure Agent (td-agent) for RedHat/CentOS and Ubuntu/Debian and Windows</div>
      <br/>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="20%">Platform</th>
            <th width="30%">Platform Version</th>
            <th width="50%">Package or Installer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <center>
                <img src="/images/icon_redhat.png" height="60px"><br/>
                RHEL / CentOS / Amazon Linux
              </center>
            </td>
            <td>2.6+ Linux kernel (64-bit)</td>
            <td>
              <span style="font-style:bold">td-agent v<%=TD_AGENT_VERSIONS[:v3][:linux]%></span>
              <ul>
                <li><a href="http://docs.fluentd.org/v1.0/articles/install-by-rpm">Installation Guide</a></li>
                <li>
                  64-bit (<a href="https://td-agent-package-browser.herokuapp.com/3/redhat/7/x86_64">RHEL7</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/3/redhat/6/x86_64">RHEL6</a>)
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="/images/icon_ubuntu.png" height="60px"><br/>
                Ubuntu
              </center>
            </td>
            <td>2.6+ Linux kernel (64-bit)</td>
            <td>
              <span style="font-style:bold">td-agent v<%=TD_AGENT_VERSIONS[:v3][:linux]%></span>
              <ul>
                <li><a href="//docs.fluentd.org/v1.0/articles/install-by-deb">Installation Guide</a></li>
                <li>
                  64-bit/amd64 (<a href="https://td-agent-package-browser.herokuapp.com/3/ubuntu/xenial/pool/contrib/t/td-agent">Xenial</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/3/ubuntu/trusty/pool/contrib/t/td-agent">Trusty</a>)
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="/assets/img/download-icons/windows-logo.png"><br/>
                Windows
              </center>
            </td>
            <td>Windows Server 2012+ (64-bit)</td>
            <td>
              <span style="font-style:bold">td-agent v<%=TD_AGENT_VERSIONS[:v3][:win]%></span>
              <ul>
                <li><a href="//docs.fluentd.org/v1.0/articles/install-by-msi">Installation Guide</a></li>
                <li>
                  <a href="https://td-agent-package-browser.herokuapp.com/3/windows">msi repository</a>
                </li>
              </ul>
              <br/>
              <br/>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="/assets/img/download-icons/ruby.jpg"><br/>
                Ruby
              </center>
            </td>
            <td>Ruby v2.1.0 and above</td>
            <td>
              <span style="font-style:bold">Fluentd v<%=TD_AGENT_VERSIONS[:v1][:'gem_v1.0']%></span>
              <ul>
                <li>
                  <code>gem install fluentd</code><br/>
                </li>
              </ul>
              <a href="http://docs.fluentd.org/articles/install-by-gem">Installation Guide</a> (* ruby expert-use only)<br/>
            </td>
          </tr>
        </tbody>
      </table>
      <br/>

      <h3>Fluent Bit (Lightweight Forwarder)</h3>
      <div>If you're looking for more lightweight forwarder for edge devices / servers / containers, use <a href="http://fluentbit.io/">Fluent Bit</a>, an open source data collector specifically designed for data forwarding. Fluent Bit is more efficient in terms of CPU / Memory usage, but has limited features. The following table list the available Linux packages for different distributions. Note that Fluent Bit packaged is known as <i>td-agent-bit</i>.</div>
      <br/><br />
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="20%">Platform</th>
            <th width="30%">Platform Version</th>
            <th width="30%">Package or Installer</th>
            <th width="20%">Notes</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <center>
                <img src="/images/icon_redhat.png" height="60px"><br/>
                RHEL / CentOS
              </center>
            </td>
            <td>2.6+ Linux kernel (64-bit)</td>
            <td>
              <span style="font-style:bold;">TD-Agent Bit v<%=TD_AGENT_VERSIONS[:bit][:linux]%></span>
              <ul>
                <li>
                  <a href="http://fluentbit.io/documentation/0.10/installation/redhat_centos.html">Download Instructions</a>
                </li>
              </ul>
            </td>
            <td>
              <a href="http://fluentbit.io/documentation/">Documents</a><br/>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="/images/icon_ubuntu.png" height="60px"><br/>
                Ubuntu
              </center>
            </td>
            <td>2.6+ Linux kernel (64-bit)</td>
            <td>
              <span style="font-style:bold;">TD-Agent Bit v<%=TD_AGENT_VERSIONS[:bit][:linux]%></span>
              <ul>
                <li>
                  <a href="http://fluentbit.io/documentation/0.10/installation/ubuntu.html">Download Instructions</a>
                </li>
              </ul>
            </td>
            <td>
              <a href="http://fluentbit.io/documentation/">Documents</a><br/>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                Enterprsie
              </center>
            </td>
            <td>All Platform Versions Above</td>
            <td>
              If you need Security Tested Binary with a clear life cycle management, please check the <a href="http://www.fluentd.org/enterprise">Enterprise Offering</a>.
            </td>
          <td></td>
          </tr>
        </tbody>
      </table>
      <br/>

      <h3>Fluentd (v0.12, old stable version)</h3>
      <div>Fluentd v0.12 is available on Linux and Mac OSX. Also, Treasure Data packages it as Treasure Agent (td-agent) for RedHat/CentOS and Ubuntu/Debian and provides a binary for OSX.</div>
      <br/>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="20%">Platform</th>
            <th width="30%">Platform Version</th>
            <th width="50%">Package or Installer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <center>
                <img src="/images/icon_redhat.png" height="60px"><br/>
                RHEL / CentOS / Amazon Linux
              </center>
            </td>
            <td>2.6+ Linux kernel (64-bit & 32-bit)</td>
            <td>
              <span style="font-style:bold">td-agent v<%=TD_AGENT_VERSIONS[:v2][:linux]%></span>
              <ul>
                <li><a href="//docs.fluentd.org/articles/install-by-rpm">Installation Guide</a></li>
                <li>
                  64-bit (<a href="https://td-agent-package-browser.herokuapp.com/2/redhat/7/x86_64">RHEL7</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/2/redhat/6/x86_64">RHEL6</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/2/redhat/5/x86_64">RHEL5</a>)
                </li>
                <li>
                  32-bit (<a href="https://td-agent-package-browser.herokuapp.com/2/redhat/6/i386">RHEL6</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/2/redhat/5/i386">RHEL5</a>)
                </li>
                <li>
                  Amazon Linux (<a href="https://td-agent-package-browser.herokuapp.com/2/redhat/2016.03/x86_64">2016.03</a>, <a href="https://td-agent-package-browser.herokuapp.com/2/redhat/2016.09/x86_64">2016.09</a>)
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="/images/icon_ubuntu.png" height="60px"><br/>
                Ubuntu
              </center>
            </td>
            <td>2.6+ Linux kernel (64-bit & 32-bit)</td>
            <td>
              <span style="font-style:bold">td-agent v<%=TD_AGENT_VERSIONS[:v2][:linux]%></span>
              <ul>
                <li><a href="//docs.fluentd.org/articles/install-by-deb">Installation Guide</a></li>
                <li>
                  64-bit/amd64 (<a href="https://td-agent-package-browser.herokuapp.com/2/ubuntu/xenial/pool/contrib/t/td-agent">Xenial</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/2/ubuntu/trusty/pool/contrib/t/td-agent">Trusty</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/2/ubuntu/precise/pool/contrib/t/td-agent">Precise</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/2/ubuntu/lucid/pool/contrib/t/td-agent">Lucid</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/2/debian/jessie/pool/contrib/t/td-agent">Jessie</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/2/debian/wheezy/pool/contrib/t/td-agent">Wheezy</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/2/debian/squeeze/pool/contrib/t/td-agent">Squeeze</a>)
                </li>
                <li>
                  32-bit/i386 (<a href="https://td-agent-package-browser.herokuapp.com/2/ubuntu/trusty/pool/contrib/t/td-agent">Trusty</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/2/ubuntu/precise/pool/contrib/t/td-agent">Precise</a>,
                  <a href="https://td-agent-package-browser.herokuapp.com/2/ubuntu/lucid/pool/contrib/t/td-agent">Lucid</a>)
                </li>
              </ul>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="/assets/img/download-icons/logo_mac.gif"><br/>
                MacOS X
              </center>
            </td>
            <td>v2.1.4 for OSX 10.9 and 10.10.<br /> v2.3.0 for OSX 10.11</td>
            <td>
              <span style="font-style:bold">td-agent v<%=TD_AGENT_VERSIONS[:v2][:mac]%></span>
              <ul>
                <li><a href="//docs.fluentd.org/articles/install-by-dmg">Installation Guide</a></li>
                <li>
                  <a href="https://td-agent-package-browser.herokuapp.com/2/macosx">dmg repository</a>
                </li>
              </ul>
              <br/>
              <br/>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="/assets/img/download-icons/ruby.jpg"><br/>
                Ruby<br/><br/>
              </center>
            </td>
            <td>Ruby v2.1.0 and above</td>
            <td>
              <span style="font-style:bold">Fluentd v<%=TD_AGENT_VERSIONS[:v1][:gem_v12]%> (current stable. recommend for production)</span>
              <ul>
                <li>
                  <code>gem install fluentd -v '~> 0.12.0'</code><br/>
                </li>
              </ul>
              <a href="http://docs.fluentd.org/articles/install-by-gem">Installation Guide</a> (* ruby expert-use only)<br/>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                Enterprsie
              </center>
            </td>
            <td>All Platform Versions Above</td>
            <td>
              If you need Security Tested Binary with a clear life cycle management, please check the <a href="http://www.fluentd.org/enterprise">Enterprise Offering</a>.
            </td>
          </tr>
        </tbody>
      </table>
      <br/>

    </div><!--/col-md-9-->
    <div class="col-md-3">
      <div class="margin-bottom-30">
        <a href="/enterprise">
          <img src="images/fluentd-by-td.jpg" width="100%" />
        </a>
      </div>

      <div class="margin-bottom-30">
        <div class="headline"><h2>Learn</h2></div>
        <p>Want to learn the basics of Fluentd? Check out these pages.</p>
        <ul class="list-unstyled">
          <li><i class="icon-arrow-right color-green"></i><a href="/architecture">What is Fluentd?</a></li>
          <li><i class="icon-arrow-right color-green"></i><a href="/why">Why use Fluentd?</a></li>
          <li><i class="icon-arrow-right color-green"></i><a href="/testimonials">Who is using Fluentd?</a></li>
          <li><i class="icon-arrow-right color-green"></i><a href="/faqs">FAQs</a></li>
        </ul>
      </div>

      <div class="margin-bottom-30">
        <div class="headline"><h2>Ask the Community</h2></div>
        <p>Couldn't find enough information? Let's ask the community!</p>
        <ul class="list-unstyled">
          <li><i class="icon-ok color-green"></i><a target="_blank" href="https://groups.google.com/forum/#!forum/fluentd">Mailing List</a></li>
          <li><i class="icon-stackexchange color-green"></i><a target="_blank" href="http://stackoverflow.com/questions/tagged/fluentd">Stack Overflow</a></li>
          <li><i class="icon-github-alt color-green"></i><a target="_blank" href="https://github.com/fluent/fluentd/issues">Issue Tracker</a></li>
          <li><i class="icon-twitter color-green"></i><a target="_blank" href="https://twitter.com/fluentd">Twitter</a></li>
          <li><i class="icon-facebook color-green"></i><a target="_blank" href="https://www.facebook.com/pages/Fluentd/196064987183037">Facebook</a></li>
          <li><i class="icon-github color-green"></i><a target="_blank" href="http://github.com/fluent/fluentd">Source Code</a></li>
        </ul>
      </div>
    </div><!--/col-md-3-->
  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
