<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Plugins</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="/">Home</a></li>
      <li class="active">Plugins</li>
    </ul>
  </div>
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->
<!--=== Content Part ===-->
<div class="container">     
  <div class="row">
    <div class="col-md-12">
      <div class="headline"><h2><%=@title%></h2></div>
      <p>Find plugins by category (<a href="/plugins/all">Find all listed plugins here</a>)</p>

      <div class="clearfix">
        <a name="toc"></a>
        <p class="margin-bottom-30">
        <% @search_categories.each do |category, search_terms| %>
          <a href="#<%=category.downcase.gsub(' ', '-')%>"><%=category%></a>&nbsp;/&nbsp;
        <% end %>
        </p>
        <% @search_categories.each do |category, search_terms| %>
        <a name="<%=category.downcase.gsub(' ', '-')%>" href="#toc"><h3><%=category.upcase%></h3></a>
        <table class="table table-bordered">
			    <thead>
				    <tr>
					    <th width="5%">Certified</th>
					    <th width="10%">Download</th>
					    <th width="15%">Name</th>
					    <th width="15%">Author</th>
					    <th width="45%">About</th>
					    <th width="10%">Version</th>
				    </tr>
			    </thead>
			    <tbody rel="<%=search_terms%>" class="plugin-category">
			    </tbody>
		    </table>
      <% end %>
      </div>

    </div><!--/col-md-12-->
  </div><!--/row-->        

</div><!--/container-->     
<!--=== End Content Part ===-->
<script src="/assets/js/pages/lunr.min.js"></script>
<script>
jQuery(document).ready(function(){
  var plugin_index = lunr(function(){
    this.field('title');
    this.ref('name');
    this.field('info');
  });
  var plugins = <%=@plugins%>;
  var plugin_hash = {};
  var ii, plugin, name, info;
  for (ii = 0; ii < plugins.length; ii++) {
    plugin = plugins[ii];

	// Do not show obsolete plugins. /plugins/all have them.
    if (plugin.obsolete) { continue; }

    name = plugin.name.replace('fluent-plugin-', '');
    plugin_hash[name] = plugin;
    plugin_index.add({ name: name, info: plugin.info });
  }

  $("tbody.plugin-category").each(function(idx, el){
    var search_terms = $(el).attr("rel").split(/\s+/);
    var search_term;
    var search_results;
    var search_result;
    var search_results_hash = {};
    var search_results_array = [];
    var ii, jj, kk;
    var inner_html = '';

    // Take the distinct union of all search results
    for (ii = 0; ii < search_terms.length; ii++) {
      search_term = search_terms[ii];
      search_results = plugin_index.search(search_term);
      for (jj = 0; jj < search_results.length; jj++) {
        search_results_hash[search_results[jj].ref] = search_results[jj];
      }
    }
    for (var k in search_results_hash) {
      console.log(k);
      search_results_array.push(search_results_hash[k]);
    }
    // sort by # of downloads, descending
    search_results_array.sort(function(x, y) {
      return x.ref < y.ref ? -1 : 1;
    });
   
    for (kk = 0; kk < search_results_array.length; kk++) {
      search_result = search_results_array[kk]; 
      plugin_data = plugin_hash[search_result.ref];
      inner_html += "<tr>";
      inner_html += ("<td>" + plugin_data.certified + "</td>");
      inner_html += ("<td style='text-align:right;'>" + plugin_data.downloads + "</td>");
      inner_html += ("<td><a href='" + plugin_data.homepage_uri + "'>" + search_result.ref + "</a></td>");
      inner_html += ("<td>" + plugin_data.authors + "</td>");
      inner_html += ("<td>" + plugin_data.info + "</td>");
      inner_html += ("<td>" + plugin_data.version + "</td>");
    }
    $(el).html(inner_html);
  });

  // debugging
  document.fluentd_plugin_index = plugin_index;
  document.fluentd_plugin_hash = plugin_hash;
});
</script>
