---
title: Download Calyptia Fluentd
---
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Download Calyptia Fluentd</h1>
    <ul class="pull-right breadcrumb">
      <li><a href="<%= config[:http_prefix] %>">Home</a></li>
      <li><a href="<%= config[:http_prefix] %>download">Download Fluentd</a></li>
      <li class="active">Calyptia Fluentd (calyptia-fluentd)</li>
    </ul>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row portfolio-item margin-bottom-20">
    <!-- Content Info -->
    <!--
    <div class="col-md-12 md-margin-bottom-20">
    </div>
    -->
  </div><!--/row-->

  <div class="row margin-bottom-20">
    <div class="col-md-9">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th width="20%">Platform</th>
            <th width="30%">Platform Version</th>
            <th width="50%">Package or Installer</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <center>
                <img src="<%= config[:http_prefix] %>images/icon_redhat.png" height="60px"><br/>
                RHEL / CentOS / Amazon Linux
              </center>
            </td>
            <td>2.6+ Linux kernel (64-bit)</td>
            <td>
              <span style="font-weight:bold">calyptia-fluentd</span>
              <ul>
                <li>
                  <a href="https://docs.fluentd.org/installation/install-by-rpm#red-hat-centos-1">RHEL 7,8,9 and CentOS 7,8,9 one-line install</a>
                </li>
                <li>
                  <a href="https://docs.fluentd.org/installation/install-by-rpm#centos-stream">CentOS Stream 7,8,9 one-line install</a>
                </li>
                <li>
                  <a href="https://docs.fluentd.org/installation/install-by-rpm#amazon-linux-1">Amazon Linux 2 one-line install</a>
                </li>
              <a href="https://docs.fluentd.org/installation/install-calyptia-fluentd/install-by-rpm-calyptia-fluentd">Installation Guide</a><br>
              <a href="https://calyptia-fluentd.s3.us-east-2.amazonaws.com/index.html?prefix=1/">Calyptia Fluentd Package Browser</a><br>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="<%= config[:http_prefix] %>images/icon_ubuntu.png" height="60px"><br/>
                Ubuntu/Debian
              </center>
            </td>
            <td>2.6+ Linux kernel (64-bit)</td>
            <td>
              <span style="font-weight:bold">calyptia-fluentd</span>
              <ul>
                <li>
                  <a href="https://docs.fluentd.org/installation/install-by-deb#step-1-install-from-apt-repository-1">Ubuntu Focal one-line install</a>
                  <a href="https://docs.fluentd.org/installation/install-by-deb#step-1-install-from-apt-repository-1">Ubuntu Bionic one-line install</a>
                  <a href="https://docs.fluentd.org/installation/install-by-deb#step-1-install-from-apt-repository-1">Ubuntu Xenial one-line install</a>
                  <a href="https://docs.fluentd.org/installation/install-by-deb#step-1-install-from-apt-repository-1">Debian Buster one-line install</a>
                </li>
              </ul>
              <a href="https://docs.fluentd.org/installation/install-calyptia-fluentd/install-by-deb-calyptia-fluentd">Installation Guide</a>
              <a href="https://calyptia-fluentd.s3.us-east-2.amazonaws.com/index.html?prefix=1/">Calyptia Fluentd Package Browser</a><br>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="<%= config[:http_prefix] %>images/download-icons/windows-logo.png"><br/>
                Windows
              </center>
            </td>
            <td>Windows Server 2019+ (64-bit)</td>
            <td>
              <span style="font-weight:bold">calyptia-fluentd</span>
              <ul>
                <li>
                  <a href="https://calyptia-fluentd.s3.us-east-2.amazonaws.com/index.html?prefix=1/windows/">msi repository</a>
                </li>
              </ul>
              <a href="https://docs.fluentd.org/installation/install-calyptia-fluentd/install-by-msi-calyptia-fluentd">Installation Guide</a>
            </td>
          </tr>
          <tr>
            <td>
              <center>
                <img src="<%= config[:http_prefix] %>images/download-icons/logo_mac.gif"><br/>
                MacOS X
              </center>
            </td>
            <td>OSX 10.15 or later</td>
            <td>
              <span style="font-weight:bold">calyptia-fluentd</span>
              <ul>
                <li>
                  <a href="https://calyptia-fluentd.s3.us-east-2.amazonaws.com/index.html?prefix=1/macos/">dmg repository</a>
                </li>
              </ul>
              <a href="https://docs.fluentd.org/installation/install-calyptia-fluentd/install-by-dmg-calyptia-fluentd">Installation Guide</a>
              <br/>
              <br/>
            </td>
          </tr>
        </tbody>
      </table>
      <br/>

    </div><!--/col-md-9-->
    <div class="col-md-3">
      <%= partial "_right_menu" %>
    </div>
  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
