---
title: Enterprise Services
---
<!--=== Breadcrumbs ===-->
<div class="breadcrumbs margin-bottom-40">
  <div class="container">
    <h1 class="pull-left">Enterprise Services</h1>
  </div><!--/container-->
</div><!--/breadcrumbs-->
<!--=== End Breadcrumbs ===-->

<!--=== Content Part ===-->
<div class="container">
  <div class="row portfolio-item margin-bottom-20">
    <!-- Content Info -->
    <!--
    <div class="col-md-12 md-margin-bottom-20">
    </div>
    -->
  </div><!--/row-->

  <div class="row margin-bottom-20">
    <div class="col-md-9">
      <div class="alert alert-info">
        <p class="margin-bottom-20">
          The following page list companies (alphabetically) offering Fluentd Enterprise services. If your company is not listed here, feel free to open a pull request in our <a href="https://github.com/fluent/fluentd-website">main Github repository</a>.
        </p>
      </div>

      <div class="container margin-bottom-20">
        <h3>Chronosphere.io</h3>
        <div class="row">
          <div class="col-sm-3">
            <a href="https://chronosphere.io/platform/telemetry-pipeline/?utm_source=fluentd&utm_medium=referral&utm_content=enterprise-tile">
              <img src="<%= config[:http_prefix] %>images/Chronosphere Logo1x1.png" class="img-responsive">
            </a>
          </div>
          <div class="col-sm-9">
            <p>Support services and enterprise features from the creators and maintainers of Fluentd and Fluent Bit.</p>
            <a class="btn btn-primary" role="button" href="https://chronosphere.io/platform/telemetry-pipeline/?utm_source=fluentd&utm_medium=referral&utm_content=enterprise-tile">Visit Website</a>
          </div>
        </div>
      </div>

      <div class="container margin-bottom-20">
        <h3>ClearCode</h3>
        <div class="row">
          <div class="col-sm-3">
            <a href="https://www.clear-code.com/">
              <img src="<%= config[:http_prefix] %>images/ClearCode.svg" class="img-responsive">
            </a>
          </div>
          <div class="col-sm-9">
            <p>ClearCode is a core maintainer of Fluentd since 2014, based in Japan.</p>
            <p>
              クリアコードは、日本国内において航空会社、官公庁、通信事業者をはじめとした大規模ユーザーに対する支援を行ってきました。
              ご相談にはFluentd/Fluent Bitのコアメンテナが対応いたしますので、まずはお気軽にお問い合わせください。
              また、XにてFluentdに関する情報を日本語で発信しています（<a href="https://x.com/fluentd_jp">@fluentd_jp</a>）。
            </p>
            <a class="btn btn-primary" role="button" href="https://www.clear-code.com/services/fluentd-service.html">Visit Website</a>
          </div>
        </div>
      </div>

      <div class="container margin-bottom-20">
        <h3>ITOCHU Techno-Solutions America, Inc.</h3>
        <div class="row">
          <div class="col-sm-3">
            <a href="https://fluentd.ctc-america.com/">
              <img src="<%= config[:http_prefix] %>images/ctcamerica-fluentd.png" class="img-responsive">
            </a>
          </div>
          <div class="col-sm-9">
            <p>Enterprise services from a global IT solution provider. Series of services from consultancy, technology enablement and global service desk available to ensure your success in any scale of your observability / data management platform operation.</p>
            <a class="btn btn-primary" role="button" href="https://fluentd.ctc-america.com/">Visit Website</a>
          </div>
        </div>
      </div>

      <div class="container margin-bottom-20">
        <h3>Sage Infrastructure Solutions Group Inc.</h3>
        <div class="row">
          <div class="col-sm-3">
            <a href="https://www.sageisg.com">
              <img src="<%= config[:http_prefix] %>images/sage-isg-logo.png" class="img-responsive">
            </a>
          </div>
          <div class="col-sm-9">
            <p>Sage Infrastructure Solutions Group Inc. is a cybersecurity firm.  Our firm provides enterprise services, including custom plugin development, application onboarding, and fully managed service with SLAs.</p>
            <a class="btn btn-primary" role="button" href="https://www.sageisg.com/">Visit Website</a>
          </div>
        </div>
      </div>
    </div><!--/col-md-9-->

    <div class="col-md-3">
      <%= partial "_right_menu" %>
    </div>
  </div><!--/row-->
</div><!--/container-->
<!--=== End Content Part ===-->
